$color-main: #599c4d;
$color-main-2: #55CD6C;
$color-1: #61A8DE;
$color-btn: #EEC42F;
$color-btn-border: #C29D17;
$color-btn-hover: #CAA31A;
$color-btn-hover-border: #A08111;
$color-fb: #475993;
$color-vk: #4A76A8;
$color-viber: #7D3DAF;
$color-text: #374A33;
$color-bg-1: #fdffff;
$color-bg-2: #f4fdff;

.c {
    &-white {
        color: #fff !important;
    }
}