@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('ProximaNova-Semibold.woff') format('woff'),
       url('ProximaNova-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

